@import "./base.css";

#app {
  width: 100%;
  max-width: 100%;
  padding: 2rem 0.4rem 0;
  font-weight: normal;
}

a {
  color: var(--color-text);
}

.green {
  color: hsl(160 100% 37% / 1);
  text-decoration: none;
  transition: 0.4s;
}

@media (width >= 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    padding: 0 0.7rem 0 1.7rem;
    grid-template-columns: 0.25fr 2fr;
  }
}
